* {
    margin: 0px;
    list-style-type: none;
    box-sizing: border-box;
}

.bao_form {
    width: 100%;
    margin: auto;
    background-color: #fff;
    padding-top: 94px;
}

form {
    /* padding-top: 102px; */
    font-family: 'Courier New', Courier, monospace;
    width: 30%;
    background-color: gainsboro;
    border: 1px solid gray;
    margin: 2% auto 0;
}

form h3 {
    padding-top: 2%;
    margin: 6% 0;
    color: black;
    text-align: center;
}

.chung {
    margin: auto;
    width: 87%;
}

.form-group {
    width: 100%;
    /* border: 1px solid red; */
    margin: 4% 0%;
}

.form-group label {
    font-weight: 600;
    font-size: 18px;
}

.form-group input {
    width: 100%;
    height: 45px;
    border: 1px solid rgb(181, 181, 181);
    font-size: 15px;
    border-radius: 5px;
}

.form-group2 {
    margin-bottom: 10px;
}

.form-group2 input {
    width: 86%;
    margin: 0% 6%;
    /* height: 49px; */
    border-radius: 5px;
    background-color: #FF5D5D;
    border: none;
    color: white;
    font-weight: 600;
    padding: 15px 0;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.bao_form form .dn {
    /* background-color: black; */
    width: 100%;
}

.bao_form form .dn p {
    text-align: center;
    padding: 10px;
}

.bao_form form .dn p a {
    text-decoration: none;
    color: #222;
}

.bao_form form .dn p a:hover {
    color: #FF5D5D;
    text-decoration: underline;
}